<!DOCTYPE html>
<html lang="en">

<head>
    <title>Article Detail</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
        content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
    <style>
        .changeStyle {
            font-weight: bold;
            font-style: italic;
        }

        .reSize {
            width: 200px;
            height: 200px;
        }
    </style>
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="/coordinators/home">
                            <img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
                                </div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">


                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>{{info.name}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="/users/logout">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="/assets/images/avatar-4.jpg"
                                        alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>{{info.name}}</span>
                                        <span id="more-details">See More<i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">

                                            <a href="/users/logout">
                                                <i class="ti-layout-sidebar-left"></i>Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Main</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="/coordinators/home">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.form">Navigation</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="/coordinators/list_articles">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">List of Article</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- Page-header start -->
                                        <div class="page-header card">
                                            <div class="row align-items-end">
                                                <div class="col-lg-8">
                                                    <div class="page-header-title">
                                                        <i
                                                            class="icofont icofont icofont icofont-file-document bg-c-pink"></i>
                                                        <div class="d-inline">
                                                            <h4>Articles Details Page</h4>
                                                            <span>Information of the articles</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="page-header-breadcrumb">
                                                        <ul class="breadcrumb-title">
                                                            <li class="breadcrumb-item">
                                                                <a href="/coordinators/home">
                                                                    <i class="icofont icofont-home"></i>
                                                                </a>
                                                            </li>
                                                            <li class="breadcrumb-item">
                                                                <a href="#!">Homepage</a>
                                                            </li>
                                                            <li class="breadcrumb-item">
                                                                <a href="#!">Articles Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Page-header end -->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- Tab variant tab card start -->
                                                <div class="card">

                                                    <div class="card-header">
                                                        <div class="card-header-left ">
                                                        </div>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="icofont icofont-simple-left "></i>
                                                                </li>
                                                                <li><i class="icofont icofont-maximize full-card"></i>
                                                                </li>
                                                                <li><i class="icofont icofont-minus minimize-card"></i>
                                                                </li>
                                                                <li><i class="icofont icofont-refresh reload-card"></i>
                                                                </li>
                                                                <li><i class="icofont icofont-error close-card"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div style=" display: flex;align-items: center;">
                                                            <img class="card-img-top"
                                                                style="display: block;margin-left: auto;margin-right: auto;width: 200px;height: 250px;"
                                                                src="/uploads/{{value.articleImage}}" alt="image cap">
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title">Title: {{value.name}}</h5>
                                                            <p class="card-text">Description: {{value.desc}}</p>
                                                            <p class="card-text">Topic: {{value.topic_id.name}}</p>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <h3 class="sub-title">Leave a comment</h3>
                                                        <form action="/coordinators/do_comment" method="POST"
                                                            enctype="application/x-www-form-urlencoded"
                                                            onsubmit="doComment(this);">
                                                            <div class="form-group">
                                                                <textarea class="form-control" name="comment" id=""
                                                                    rows="6"></textarea>
                                                            </div>
                                                            <input type="hidden" id="_id" name="_id"
                                                                value="{{value._id}}">

                                                            <button type="submit" class="btn btn-primary"
                                                                id="submit_info">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                {{#if value.comments}}
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>List of Comments: </h5>
                                                        <div class="card-header-left ">
                                                        </div>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="icofont icofont-simple-left "></i>
                                                                </li>
                                                                <li><i class="icofont icofont-maximize full-card"></i>
                                                                </li>
                                                                <li><i class="icofont icofont-minus minimize-card"></i>
                                                                </li>
                                                                <li><i class="icofont icofont-refresh reload-card"></i>
                                                                </li>
                                                                <li><i class="icofont icofont-error close-card"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {{#each value.comments}}
                                                    <div class="card-block">
                                                        <div class="media mb-4">
                                                            <img style="width: 50px; height: 50px"
                                                                class="d-flex mr-3 rounded-circle"
                                                                src="/images/gallery/03.jpg" alt="image">
                                                            <div class="media-body">
                                                                <h5 style="display: inline" class="mt-0">
                                                                    You have make a comment at</h5>
                                                                <span
                                                                    style="display: inline; color: rgb(184, 183, 183)">-
                                                                    {{timeCreated}}
                                                                </span><br>
                                                                <h5>{{comment}}</h5>
                                                            </div>
                                                            <div class="icon-btn">
                                                                <form action="/coordinators/delete_comment"
                                                                    method="POST"
                                                                    enctype="application/x-www-form-urlencoded">
                                                                    <input type="hidden" name="_id" value={{_id}}>
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                    <button type="submit"
                                                                        class="btn btn-danger btn-outline-danger btn-icon">
                                                                        <i class="ti-close"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                    {{/each}}
                                                </div>

                                                {{else}}
                                                <div class="card">
                                                    <div class="card-block">
                                                        <div class="alert alert-info" role="alert">
                                                            This is no feedback!
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/if}}
                                                <script>
                                                    function doComment(form) {
                                                        $.ajax({
                                                            url: "/coordinators/do_comment",
                                                            method: "POST",
                                                            data: { comment: form.comment.value },
                                                            _id: form._id.value,
                                                            success: function (res) {
                                                                alert("Comment Successfully !!!");
                                                            }
                                                        });
                                                        return false;
                                                    }
                                                </script>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/assets/js/modernizr/modernizr.js"></script>
    <!-- am chart -->
    <script src="/assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="/assets/pages/widget/amchart/serial.min.js"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="/assets/pages/todo/todo.js "></script>
    <!-- Custom js -->
    <script type="text/javascript" src="/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script type="text/javascript " src="/assets/js/SmoothScroll.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
    <script src="/assets/js/demo-12.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
</body>

</html>