<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>View Articles</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/templatemo-style.css" rel="stylesheet" />
    <style>
        .reSize {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->

<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="/images/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="/images/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Simple House</h1>
                                <h6 class="tm-site-description">
                                    Welcome Marketing Coordinator
                                </h6>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/users/coordinator/home">Simple House</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/users/coordinator/home">
                                        Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="/users/coordinator/list_articles">
                                        list Articles
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                onclick="window.location = '/users/logout'">
                                Logout
                            </button>
                            {{!-- <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form> --}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Articles of Foods and Cookings</h2>
            </header>

            <div class="form-group">
                <select class="form-control" onchange="window.location = this.value">
                    <option selected>Open this select Topic</option>
                    <option value="/users/coordinator/list_technologies_articles">Technologies
                    </option>
                    <option value="/users/coordinator/list_F&C_articles">Foods and Cookings</option>
                </select>
            </div>

            <div class="border rounded" style="width: auto;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Article Image</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Article Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Created date</th>
                                <th scope="col">status</th>
                                <th scope="col">Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each items}}
                            <tr>
                                <th scope="row">{{@index}}</th>
                                <td> <img src="/uploads/{{this.articleImage}}" alt="Image" class="reSize" /></td>
                                <td>{{this.articleImage}}</td>
                                <td>{{name}}</td>
                                <td>{{desc}}</td>
                                <td>{{timeCreated}}</td>
                                <td>{{status}}</td>
                                <td class="d-flex flex-row">
                                    <a href="/uploads/{{this.articleImage}}"><button type="submit"
                                            class="btn btn-primary">Detailed</button></a>
                                    <form action="/users/coordinator/accept_article" method="POST"
                                        enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="_id" value={{_id}}>
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-danger">Accept</button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
            <p>Copyright &copy; 2020 Simple House

                | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
        </footer>
    </div>

    <!--===============================================================================================-->
    <script src="/js/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="/js/parallax.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--===============================================================================================-->

</body>

</html>