<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of all Marketing Coordinator Account</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/templatemo-style.css">
</head>

<body>
    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="/images/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="/images/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Simple House</h1>
                                <h6 class="tm-site-description">Welcome Administrator</h6>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/users/admin/home">Simple House</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/users/admin/home">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Marketing Coordinator Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/users/admin/list_all_students">
                                            Student Account
                                        </a>
                                        <a class="dropdown-item" href="/users/admin/list_all_coordinators">
                                            Marketing Coordinator Account
                                        </a>
                                        <a class="dropdown-item" href="/users/admin/list_all_managers">
                                            Marketing Manager Account
                                        </a>
                                        <a class="dropdown-item" href="/users/admin/list_all_guests">
                                            Guest Account
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/admin/list_all_faculty">List of Faculty <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/admin/list_all_topic">List of Topic <span
                                            class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                onclick="window.location = '/users/logout'">
                                Logout
                            </button>
                            {{!-- <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form> --}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <main>

            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">List of Marketing Coor Account</h2>
            </header>

            <div class="border rounded" style="width: auto;">
                <div class="d-flex flex-row-reverse">
                    <div style="padding-top: 20px; padding-right: 20px">
                        <button type="button" class="btn btn-success"
                            onclick="window.location='/users/admin/add_coordinator';">
                            Adding more user
                        </button>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User_id</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col">Created date</th>
                                <th scope="col">Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each user}}
                            <tr>
                                <th scope="row">{{@index}}</th>
                                <td>{{_id}}</td>
                                <td>{{username}}</td>
                                <td>Hidden</td>
                                <td>{{timeCreated}}</td>
                                <td class="d-flex flex-row">
                                    <form action="/users/admin/update_coordinator" method="POST">
                                        <input type="hidden" name="_id" value={{_id}}>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                    <form action="/users/admin/delete_coordinator" method="POST"
                                        enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="_id" value={{_id}}>
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
            <p>Copyright &copy; 2020 Simple House

                | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
        </footer>
    </div>

    <!--===============================================================================================-->
    <script src="/js/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="/js/parallax.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
    <!--===============================================================================================-->

</body>

</html>