<!DOCTYPE html>
<html lang="">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/indexLayout.css" type="text/css" media="all">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-image:url('/images/about-06.jpg');">
        <!-- ################################################################################################ -->
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="one_quarter first">
                <h1><a href="../index.html">Foxclore</a></h1>
                <p>Placerat sem hendrerit</p>
            </div>
            <div class="three_quarter">
                <ul class="nospace clear">
                    <li class="one_third first">
                        <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a
                                    call:</strong> +84 (336) 424 121</span></div>
                    </li>
                    <li class="one_third">
                        <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a
                                    mail:</strong> cn1122000@gmail.com</span></div>
                    </li>
                    <li class="one_third">
                        <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Mon. -
                                    Sat.:</strong> 08.00am - 18.00pm</span></div>
                    </li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </header>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <section id="navwrapper" class="hoc clear">
            <!-- ################################################################################################ -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/guests/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/guests/update_account/{{data.user._id}}">Update Account <span
                                    class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary"
                        onclick="window.location = '/users/logout'">Logout</button>
                </div>
            </nav>
            <!-- ################################################################################################ -->
        </section>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="breadcrumb" class="hoc clear">
            <!-- ################################################################################################ -->
            <h6 class="heading">Update Account</h6>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">update account</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="content">
                <form action="/guests/update_account" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="usr">Username: <span class="changeStyle">{{data.user.username}}</span></label>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="pwd" name="pwd" onkeyup="check();">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="btnPassword">
                                    <span class="ti-eye"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repwd">Re-enter Password</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="repwd" name="repwd" onkeyup="check();">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="btnRePassword">
                                    <span class="ti-eye"></span>
                                </button>
                            </div>
                        </div>
                        <span id="message"></span>
                    </div>
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="_id" value="{{data.user._id}}">
                    <button type="submit" class="btn btn-primary" id="submit_acc">Update</button>
                    <br><br>
                    {{#if err}}
                    <div class="alert alert-danger" role="alert">
                        {{err}}
                    </div>
                    {{/if}}
                </form>
            </div>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="bgded overlay row4" style="background-image:url('/images/backgroundIndex/footerBackGround.jpg');">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="center btmspace-50">
                <h6 class="heading">Simple House</h6>
                <ul class="faico clear">
                    <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                </ul>
                <p class="nospace">Sed pellentesque in nisi nulla facilisi sed pretium duis varius ut ut.</p>
            </div>
            <!-- ################################################################################################ -->
            <!-- <hr class="btmspace-50"> -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
                    title="Free Website Templates">OS Templates</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script type="text/javascript" src="/js/hideShowPwd.js"></script>
    <script type="text/javascript" src="/js/checkRetypePwd.js"></script>
    <script src="/js/indexJS/jquery.min.js"></script>
    <script src="/js/indexJS/jquery.backtotop.js"></script>
    <script src="/js/indexJS/jquery.mobilemenu.js"></script>
    <script src="https://kit.fontawesome.com/bef6839cc1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>